# Virtual Environment
.venv/
env/
venv/

# PyCharm / IDE
.idea/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Data and Models


# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
